.filters {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow: auto;

}
.filters::-webkit-scrollbar {
    display: none;
  }

.filter-btn {
    border: 1px solid;
    border-radius: 25px;
    color:black;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
   
    
}

.filter-btn:hover {
    background-color: #5a0bad;
}

@media (max-width:400px) {
    .filters{
        overflow: auto;
    }
}
